<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="name-change">
        <div class="title">
            <div class="name-title">
                <span>
                    Name:
                </span>
                Roman Hapatyn 
                <a id="editName" href="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
            
        </div>
    </div>
    <div class="password-change">
        <div class="title">
            <div class="password-title">
                <span>
                    Password:
                </span>
                *****
                <a id="editPassword" href="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="change-forms">
        <form id="editNameForm" class="change-forms-con">
            <table class="change-table">
                <tbody>
                    <tr>
                        <th>
                            <span>Changing Name</span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label class="userCurrentName">Current Name</label>
                        </th>
                        <th>
                            <input type="text" id="userCurrentName"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label class="userNewName">New Name</label>
                        </th>
                        <th>
                            <input type="text" id="userNewName"/>
                        </th>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn-blue changeform-submit" value="Change Name"/>
            <span class="changeform-cancel">Cancel</span>
        </form>
    </div>
    <div class="change-forms">
        <form id="editPassword">
            <table class="changeform-table">
                <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
            <input type="submit" class="change-password" value="Change Passwrod"/>
            <span class="changeform-cancel">Cancel</span>
        </form>
    </div>
</body>
</html>
